#scroll{
    height: 100%;
    overflow-y: scroll;
}

#content_sep {
    border-top: 1px solid gray;

    height: 3px;
    
    width: 100%;
}
#tweet{
    background-color: rgb(3, 48, 250);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  background-color: rgb(49, 49, 145);
  margin-left: 100px;
}
#link{
    color: white;
    font-size: small;
    text-decoration: none;
}

#link:hover{
    text-decoration: underline;

}


#btn{
    margin-top: 0%;
    margin-left: 200px;
}
#cmnt{
    margin-top: 5%;
}
#cmnt:hover{
    color: blue;
}
#retweet{
    margin-top: 5%;
}
#retweet:hover{
    color: rgb(26, 173, 26);
}

#love{
    margin-top: 5%;
}

#love:hover{
    color: red;
}

#right:hover{
    background-color: rgb(28, 27, 30);
}
